.no-select {
    user-select: none;
}

.Login-background {
    height: 100%;
    width: 100%;
    background-color: rgba(49, 49, 49,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10000;
}

.Login,.register{
    gap: 1em;
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    position: relative;
    background-color: white;
}

.cls-btn{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0.3em;
    top: 0.3em;
    font-size: 2em;
    cursor: pointer;
}

.show-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-size: 0.9em;
    background-color: transparent;
    cursor: pointer;
}

.Loginform{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1em;
    position: relative;
}

.usernamesection{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: max-content;
    border: 1px solid rgb(152, 144, 144);
    padding: 0.6em;
}

section>input{
    padding: 0.3em;
    width: 90%;
    height: 100%;
    border: white;
}

section > input:focus{
    outline: none;
}

.icon{
    font-size: large;
}

.submitbtn{
    margin-top: 1em;
    width: 100%;
    height: 3em;
    background-color: rgba(0, 0, 255, 0.84);
    font-size: 1em;
    color: white;
    border: none;
    cursor: pointer;
}

.rgstr-btn{
    background-color: transparent;
    border: none;
    font-size: 1em;
    color: blue;
    margin-left: 0.3em;
}

.rgstr-btn:hover{
    cursor: pointer;
}